<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1 v-if="gender=='male' || gender=='female'">
            Hello,
            <span v-show="gender=='male'">Mister {{name}}.</span>
            <span v-if="gender=='female'">Miss {{name}}.</span>
        </h1>
        <p v-else>Enter a valid gender, human.</p>
        <label for="gender">Enter your gender:</label>
        <input v-model="gender">
        <label for="name">Enter your name:</label>
        <input v-model="name">
    </div>
</body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        name: 'undefined',
        gender: 'undefined'
    })
</script>

</html>